.content-3 {
  background-color: #ff6f61;
}

.content-4 {
  margin-bottom: 20px;
}
.flex-container {
  background-color: rgb(195, 196, 196);
  display: flex;
  height: 50vh;
  flex-wrap: wrap;
  
}

.flex-item {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.content-5 {
  background-color: rgb(195, 196, 196);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat'
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  padding-bottom: 10px;
}

input,
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.content-5 button {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
